### 5-3 pandas의 Series자료형 만들어보기 - 나의 일주일 계획

In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [3]:
print("pandas 버전 : ", pd.__version__)

pandas 버전 :  1.1.3

In [8]:
work = Series(['밥', '공부', '운동','밥', '공부', '운동','밥'],
            index = ['월','화','수','목','금','토','일'])
print(work)

월     밥
화    공부
수    운동
목     밥
금    공부
토    운동
일     밥
dtype: object

In [11]:
print(work['월':'금'])

월     밥
화    공부
수    운동
목     밥
금    공부
dtype: object

In [27]:
idx = pd.date_range(start="2021-06-21", end="2021-06-25")
idx

DatetimeIndex(['2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25'],
              dtype='datetime64[ns]', freq='D')

In [28]:
### 인덱스(index) 속성 이용
val = ['음악듣기', '책읽기', '맛난것 먹기', '아무것도 안하기', '좋은 사람 만나기']

schedule = Series( val, index = idx)
schedule

2021-06-21         음악듣기
2021-06-22          책읽기
2021-06-23       맛난것 먹기
2021-06-24     아무것도 안하기
2021-06-25    좋은 사람 만나기
Freq: D, dtype: object

In [29]:
print(schedule['2021-06-21'])

음악듣기

### 값 하나가 아닌 여러개에 접근(slicing)
 * Series 값으로 반환된다.

In [15]:
print(schedule['2021-06-21':'2021-06-23'])

2021-06-21      음악듣기
2021-06-22       책읽기
2021-06-23    맛난것 먹기
Freq: D, dtype: object

In [16]:
print(schedule[0:3])

2021-06-21      음악듣기
2021-06-22       책읽기
2021-06-23    맛난것 먹기
Freq: D, dtype: object

In [19]:
schedule.iloc[0:3]

2021-06-21      음악듣기
2021-06-22       책읽기
2021-06-23    맛난것 먹기
Freq: D, dtype: object

In [20]:
schedule.loc['2021-06-21':'2021-06-23']

2021-06-21      음악듣기
2021-06-22       책읽기
2021-06-23    맛난것 먹기
Freq: D, dtype: object

In [21]:
### index가져오기
for idx in schedule.index:
    print(idx)

2021-06-21 00:00:00
2021-06-22 00:00:00
2021-06-23 00:00:00
2021-06-24 00:00:00
2021-06-25 00:00:00

In [22]:
### 값만 가져오기
for val in schedule.values:
    print(val)

음악듣기
책읽기
맛난것 먹기
아무것도 안하기
좋은 사람 만나기

In [24]:
### 배열 전체 가져오기
schedule.values

array(['음악듣기', '책읽기', '맛난것 먹기', '아무것도 안하기', '좋은 사람 만나기'], dtype=object)

In [25]:
# index만 전체 가져오기
schedule.index

DatetimeIndex(['2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25'],
              dtype='datetime64[ns]', freq='D')

## zip(*반복가능한 자료형 여러 개 입력가능)

In [34]:
list(zip([1, 2, 3], [4, 5, 6]))
[(1, 4), (2, 5), (3, 6)]

[(1, 4), (2, 5), (3, 6)]

In [35]:
list(zip([1, 2, 3], [4, 5, 6], [7, 8, 9]))
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [36]:
list(zip("abc", "def"))
[('a', 'd'), ('b', 'e'), ('c', 'f')]

[('a', 'd'), ('b', 'e'), ('c', 'f')]

### 네 팀의 5일간의 팀별 점수
* 팀은 toto, gildong, apple, catanddog 팀이다.

In [37]:
from pandas import DataFrame
team_score = { "toto":[1500,3000,5000,7000,5500],
              "apple":[4000,5000,6000,5500,4500],
              "gildong":[2000,2500,3000,4000,3000],
              "catanddog":[7000,5000,3000,5000,4000]}
team_df = DataFrame(team_score, index=idx)
team_df

            toto  apple  gildong  catanddog
2021-06-21  1500   4000     2000       7000
2021-06-22  3000   5000     2500       5000
2021-06-23  5000   6000     3000       3000
2021-06-24  7000   5500     4000       5000
2021-06-25  5500   4500     3000       4000

In [41]:
print(team_df.sum() )
print("----")
print(team_df.mean() ) 
print("----")

toto         22000
apple        25000
gildong      14500
catanddog    24000
dtype: int64
----
toto         4400.0
apple        5000.0
gildong      2900.0
catanddog    4800.0
dtype: float64
----

In [42]:
team_df['rowsum'] = team_df.sum(axis=1)
team_df

            toto  apple  gildong  catanddog  rowsum
2021-06-21  1500   4000     2000       7000   14500
2021-06-22  3000   5000     2500       5000   15500
2021-06-23  5000   6000     3000       3000   17000
2021-06-24  7000   5500     4000       5000   21500
2021-06-25  5500   4500     3000       4000   17000

In [46]:
team_df['rowsum'].sort_values(ascending=False)

2021-06-24    21500
2021-06-25    17000
2021-06-23    17000
2021-06-22    15500
2021-06-21    14500
Name: rowsum, dtype: int64

In [47]:
team_df.rowsum.sort_values(ascending=False)

2021-06-24    21500
2021-06-25    17000
2021-06-23    17000
2021-06-22    15500
2021-06-21    14500
Name: rowsum, dtype: int64