In [71]:
from bs4 import BeautifulSoup
from urllib.request import urlopen

In [72]:
html = "<p>test</p>"
soup = BeautifulSoup(html, 'lxml')
soup

In [73]:
html = "<p>test</p>"
soup = BeautifulSoup(html, 'html5lib')
soup

In [74]:
html = "<p>test</p>"
soup = BeautifulSoup(html, 'html.parser')
soup

In [75]:
from bs4 import BeautifulSoup
html = """
<html>
<head><title>나의 웹페이지</title></head>
<p>test1</p>
<p>test2</p>
<p>test3</p>
</html>
"""

In [76]:
soup = BeautifulSoup(html, 'lxml')
soup

<html>
<head><title>나의 웹페이지</title></head>
<body><p>test1</p>
<p>test2</p>
<p>test3</p>
</body></html>

In [77]:
soup.body

<body><p>test1</p>
<p>test2</p>
<p>test3</p>
</body>

In [78]:
soup.p

In [79]:
soup.head

# find_all()

In [80]:
soup.find_all("p")

In [81]:
soup.p

In [82]:
soup.find_all("p")[1]

In [83]:
from bs4 import BeautifulSoup
html = """
<html>
<head><title> test site </title></head>
<p class='class1' align="left">test3</p>
<p class='class1'>test2</p>
<p id='p1'>오늘의 주가지수 1500</p>
<span class='class3'>span tag text</span>
<p class='class4'>test3</p>
</html>
"""

In [84]:
soup = BeautifulSoup(html, 'lxml')

# 실습
* p 요소 전부 가져오기
* span 요소 전부 가져오기
* head 요소 전부 가져오기

In [85]:
soup.find_all("p")

[<p align="left" class="class1">test3</p>,
 <p class="class1">test2</p>,
 <p id="p1">오늘의 주가지수 1500</p>,
 <p class="class4">test3</p>]

In [86]:
soup.find_all("span")

In [87]:
soup.find_all("head")    # find_all : 리스트 형태

In [88]:
soup.find("p")          # find : 문자열 형태

In [89]:
soup.find("span")

In [90]:
soup.find("head")

 * ESC + M : 마크다운 셀 만들기
 * ESC + Y : 소스코드 실행 셀 만들기
 * ESC + A : 위에 셀 추가
 * ESC + B : 아래 셀 추가
 * ESC + X : 셀 삭제
 * SHIFT + ENTER : 셀 실행 셀 추가 (다음 위치로)
 * CTRL + ENTER : 셀 실행(현재 위치에 그대로)

In [91]:
from bs4 import BeautifulSoup
html = """
<html>
<head><title> test site </title></head>
<p class='class1' align="left">test3</p>
<p class='class1'>test2</p>
<p id='p1'>오늘의 주가지수 1500</p>
<span class='class3'>span tag text</span>
<p class='class4'>test3</p>
</html>
"""

In [92]:
soup = BeautifulSoup(html, 'lxml')
soup.title

# class 이름으로 요소 가져오기

In [93]:
soup.find("p", class_ = "class1")

# id 이름으로 요소 가져오기

In [94]:
soup.find("p", id="p1")

In [95]:
data1 = soup.find("head")
data1

In [96]:
data2 = soup.find("title")
data2

In [97]:
data2.text

' test site '

In [98]:
html = '''
<html>
<head>
    <title> test site </title>
</head>
<body>
    <div>
        <p class='class1' align="left">test3</p>
        <p class='class1'>test2</p>
    </div>
    <div>
        <p id='p1'>오늘의 주가지수 1500</p>
        <p class='class4'>test3</p>
        <span class='class3'>span tag text</span>
    </div>
</body>
</html>
'''
soup = BeautifulSoup(html, 'lxml')

In [99]:
# 3-2 (실습) div 2번째 요소 안의 p태그 전체를 가져와 보자.
div2 = soup.find_all('div')[1]
div2

<div>
<p id="p1">오늘의 주가지수 1500</p>
<p class="class4">test3</p>
<span class="class3">span tag text</span>
</div>

In [100]:
p_all = div2.find_all("p")
p_all

In [101]:
# 3-2 (추가) div 첫번째 요소의 안의 첫번째 p태그 요소 가져오기
soup.find("div").find("p")

In [102]:
soup.div.p

In [103]:
html = '''
<html>
<head>
    <title> test site </title>
</head>
<body>
    <a href="https://www.google.com">구글</a>
    <div>
        <p class='class1' align="left">test3</p>
        <p class='class1'>test2</p>
    </div>
    <div>
        <p id='p1'>오늘의 주가지수 1500</p>
        <p class='class4'>test3</p>
        <span class='class3'>span tag text</span>
        <a href="https://www.naver.com/">네이버</a>
        <a href="https://www.daum.com/">다음</a>
    </div>
</body>
</html>
'''
soup = BeautifulSoup(html, 'lxml')

In [104]:
# 3-2 (생각해보기) a태그의 모든 url을 가져오기
urls = soup.find_all("a")

for url in urls:
#     print(url)
    print(url.get("href"))

https://www.google.com
https://www.naver.com/
https://www.daum.com/

In [105]:
urls = soup.find_all("a")

for url in urls:
    print(url.attrs)
    print(url.attrs['href'])

{'href': 'https://www.google.com'}
https://www.google.com
{'href': 'https://www.naver.com/'}
https://www.naver.com/
{'href': 'https://www.daum.com/'}
https://www.daum.com/

In [106]:
html = '''
<html>
<head><title> test site </title></head>
<p class='class1' align="left">test3</p>
<p class='class1'>test2</p>
<p id='p1'>오늘의 주가지수 1500</p>
<span class='class3'>span tag text</span>
<p class='class4'>test3</p>
</html>
'''
soup = BeautifulSoup(html, 'lxml')
print( soup.prettify() )

<html>
 <head>
  <title>
   test site
  </title>
 </head>
 <body>
  <p align="left" class="class1">
   test3
  </p>
  <p class="class1">
   test2
  </p>
  <p id="p1">
   오늘의 주가지수 1500
  </p>
  <span class="class3">
   span tag text
  </span>
  <p class="class4">
   test3
  </p>
 </body>
</html>

In [107]:
html = '''
<html>
<head>
    <title> test site </title>
</head>
<body>
    <div>
        <a href="https://www.google.com">구글</a>
        <p class='class1' align="left">test3</p>
        <p class='class1'>test2</p>
    </div>
    <div>
        <p id='p1'>오늘의 주가지수 1500</p>
        <p class='class4'>test3</p>
        <span class='class3'>span tag text</span>
        <a href="https://www.naver.com/">네이버</a>
        <a href="https://www.daum.com/">다음</a>
    </div>
</body>
</html>
'''
soup = BeautifulSoup(html, 'lxml')

In [108]:
# soup.find_all("div")[0]

In [109]:
div1 = soup.find("div")
div1

<div>
<a href="https://www.google.com">구글</a>
<p align="left" class="class1">test3</p>
<p class="class1">test2</p>
</div>

In [110]:
div1.children

In [111]:
list(div1.children)

['\n',
 <a href="https://www.google.com">구글</a>,
 '\n',
 <p align="left" class="class1">test3</p>,
 '\n',
 <p class="class1">test2</p>,
 '\n']

In [112]:
html = '''
<html>
<head>
    <title> test site </title>
</head>
<body>
    <div>
        <a href="https://www.google.com">구글</a>
        <p class='class1' align="left">test3</p>
        <p class='class1'>test2</p>
    </div>
    <div>
        <p id='p1'>오늘의 주가지수 1500</p>
        <p class='class4'>test3</p>
        <span class='class3'>span tag text</span>
        <a href="https://www.naver.com/">네이버</a>
        <a href="https://www.daum.com/">다음</a>
    </div>
</body>
</html>
'''
soup = BeautifulSoup(html, 'lxml')

### 3-3 주어진 코드에서 children 속성을 이용해서 span 태그 요소를 가져와 보자.

In [113]:
# div2 = soup.find_all("div")[1]
# div2.children

div2 = soup.find_all("div")[1]
div2.children
list(div2.children)
div2_span=list(div2.children)[5]
div2_span

In [114]:
list(div2.children)[5]

In [115]:
list( soup.find_all("div")[1].children )[5]

In [116]:
html = '''
<html>
<head>
    <title> test site </title>
</head>
<body>
    <div>
        <a href="https://www.google.com">구글</a>
        <p class='class1' align="left">test3</p>
        <p class='class1'>test2</p>
    </div>
    <div>
        <p id='p1'>오늘의 주가지수 1500</p>
        <p class='class4'>test3</p>
        <span class='class3'>span tag text</span>
        <a href="https://www.naver.com/">네이버</a>
        <a href="https://www.daum.com/">다음</a>
    </div>
</body>
</html>
'''
soup = BeautifulSoup(html, 'lxml')

In [117]:
# 4-2 p 태그의 text를 가져오기
p_all = soup.find("body").find_all("p")
p_all

[<p align="left" class="class1">test3</p>,
 <p class="class1">test2</p>,
 <p id="p1">오늘의 주가지수 1500</p>,
 <p class="class4">test3</p>]

In [118]:
for one in p_all :
    print(one.text)

test3
test2
오늘의 주가지수 1500
test3

In [119]:
# 4-2 (추가) a태그의 url 및 text가져오기.
url = soup.find("body").find_all("a")
url

[<a href="https://www.google.com">구글</a>,
 <a href="https://www.naver.com/">네이버</a>,
 <a href="https://www.daum.com/">다음</a>]

In [120]:
for one in url:
    print(one.text)

구글
네이버
다음

In [121]:
list_a = soup.findAll("a")
for one in list_a:
    print(one.text, one.get("href"))

구글 https://www.google.com
네이버 https://www.naver.com/
다음 https://www.daum.com/

### 4-3 (실습) 위의 내용을 csv파일로 만들어보기

In [122]:
com = []
urls = []
list_a = soup.findAll("a")
for one in list_a:
    print(one.text, one.get("href"))
    com.append(one.text)
    urls.append(one.get('href'))
print(com)
print(urls)

구글 https://www.google.com
네이버 https://www.naver.com/
다음 https://www.daum.com/
['구글', '네이버', '다음']
['https://www.google.com', 'https://www.naver.com/', 'https://www.daum.com/']

## csv파일 만들기 - pandas

In [123]:
import pandas as pd

pandas의 기본 자료형
 * Series
 * DataFrame

In [124]:
dat= {'회사명':com, '웹사이트':urls}
dat = pd.DataFrame(dat)
dat

   회사명                    웹사이트
0   구글  https://www.google.com
1  네이버  https://www.naver.com/
2   다음   https://www.daum.com/

In [125]:
dat.to_csv("회사명과웹사이트.csv", index=False)

## 확인
import os
print( os.getcwd() )  # 현재 위치
print( os.listdir(os.getcwd()) )

C:\Users\user\Documents\Jupyter Notbook\0616_project
['.ipynb_checkpoints', '20210616.ipynb', '회사명과웹사이트.csv']

## 4-4 (추가) 링크 가져오기 (???? 모름)
https://ldjwj.github.io/00_PYTHON_LEVELUP_CLASS/web_class/index.html

In [126]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

url = "https://finance.naver.com/sise/"

page = urlopen(url)
page

soup = BeautifulSoup(page, "html.parser")
soup.title

In [127]:
kospi = soup.find("span", id = "KOSPI_now").text
kosdaq = soup.find("span", id = "KOSDAQ_now").text
kospi200 = soup.find("span", id = "KPI200_now").text

print(kospi, kosdaq, kospi200)

3,278.68 998.49 436.96

In [128]:
kosdaq = soup.find('span', id='KOSDAQ_now').text # 코스닥
kospi = soup.find('span', id='KOSPI_now').text # 코스피
kpi200 = soup.find('span', id='KPI200_now').text # 코스피200
print("현재 코스피 지수는 :", kospi)
print("현재 코스닥 지수는 :", kosdaq)
print("현재 코스피200 지수는 :", kpi200)

현재 코스피 지수는 : 3,278.68
현재 코스닥 지수는 : 998.49
현재 코스피200 지수는 : 436.96

## 해당 정보가 있는 부분을 가져온다

In [129]:
search_stock = soup.find("ul", id = "popularItemList")
stock_all = search_stock.find_all("li")
stock_all[0]

<li><em>1.</em><a href="/item/main.nhn?code=005930" onclick="clickcr(this,'boa.list','005930','1',event)">삼성전자</a><span class="up">81,800</span><em class="bu_p bu_pup"><span class="blind">상승</span></em></li>

In [130]:
print(stock_all[0].find("a").text)
print(stock_all[0].find("span").text)

삼성전자
81,800

In [131]:
com_all = []
price_all = []
for one in stock_all:
    com_one = one.find("a").text
    price_one = one.find("span").text
    com_all.append(com_one)
    price_all.append(price_one)

In [132]:
print(com_all)
print(price_all)

['삼성전자', '카카오', '쌍방울', '두산중공업', '한전산업', '자연과환경', 'HMM', '대원전선', 'NAVER', '한국전력']
['81,800', '143,000', '1,050', '24,450', '11,100', '2,780', '45,050', '3,555', '391,000', '26,700']

In [133]:
## naver finance 인기 종목; 이응진
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
url = "https://finance.naver.com/sise/"
page = urlopen(url)
page
soup = BeautifulSoup(page, "html.parser")
all_pop = soup.find("ul", class_="lst_pop").find_all("li")
all_data = []
for li in all_pop:
    dic = {}
    dic["rank"] = li.find("em").text
    dic["com"] = li.find("a").text
    dic["up_down"] = li.find('span', class_='blind').text
    dic["price"] = li.find('span').text
    dic["code"] = li.find('a').get("onclick").split(',')[2].strip("''")
    all_data.append(dic)
dat = pd.DataFrame(all_data)
dat

  rank    com up_down    price    code
0   1.   삼성전자      상승   81,800  005930
1   2.    카카오      하락  143,000  035720
2   3.    쌍방울      하락    1,050  102280
3   4.  두산중공업      상승   24,450  034020
4   5.   한전산업     상한가   11,100  130660
5   6.  자연과환경     상한가    2,780  043910
6   7.    HMM      상승   45,050  011200
7   8.   대원전선      상승    3,555  006340
8   9.  NAVER      상승  391,000  035420
9  10.   한국전력      상승   26,700  015760

In [134]:
# 5-3 (추가) 인기 검색 종목 +(상승), -(하락) 포함시키기
ul_= soup.findAll('ul',class_='lst_pop', id="popularItemList")
for x in ul_:
    print(x.text)

1.삼성전자81,800상승
2.카카오143,000하락
3.쌍방울1,050하락
4.두산중공업24,450상승
5.한전산업11,100상한가
6.자연과환경2,780상한가
7.HMM45,050상승
8.대원전선3,555상승
9.NAVER391,000상승
10.한국전력26,700상승

In [135]:
import requests
data = requests.get('https://finance.naver.com/sise/')
soup = BeautifulSoup(data.text, 'html.parser')
likes = soup.select('#contentarea > div.box_top_submain2 > div.rgt> #popularItemList > li')
rank = 1
for like in likes:
    a = like.select_one('a')
    if a is not None:
        title = a.text
        updown = like.select_one('span').text
        print(rank,title,updown)
        rank += 1

1 삼성전자 81,800
2 카카오 143,000
3 쌍방울 1,050
4 두산중공업 24,450
5 한전산업 11,100
6 자연과환경 2,780
7 HMM 45,050
8 대원전선 3,555
9 NAVER 391,000
10 한국전력 26,700

In [136]:
url = "https://finance.naver.com/sise/"
page = urlopen(url)
soup = BeautifulSoup(page, 'html.parser')
rank_1 = soup.find('div', class_='rgt')
rank_list = rank_1.find('ul').text.split('\n')
for i in rank_list:
    print(i)

1.삼성전자81,800상승
2.카카오143,000하락
3.쌍방울1,050하락
4.두산중공업24,450상승
5.한전산업11,100상한가
6.자연과환경2,780상한가
7.HMM45,050상승
8.대원전선3,555상승
9.NAVER391,000상승
10.한국전력26,700상승

In [137]:
# 5-3 (추가) 인기 검색 종목 코드 가져오기
search_stock=soup.find('ul',id='popularItemList')
stock_all=search_stock.find_all('li')
com_all=[]
price_all=[]
rank_all=[]
code_all=[]
for one in stock_all:
    com_one=one.find('a').text
    price_one=one.find('span').text
    rank_one=one.find('span',class_='blind').text
    code_one=one.find('a').get("onclick").split(',')[2]
    com_all.append(com_one)
    price_all.append(price_one)
    rank_all.append(rank_one)
    code_all.append(code_one)
print(com_all)
print(price_all)
print(rank_all)
print(code_all)

['삼성전자', '카카오', '쌍방울', '두산중공업', '한전산업', '자연과환경', 'HMM', '대원전선', 'NAVER', '한국전력']
['81,800', '143,000', '1,050', '24,450', '11,100', '2,780', '45,050', '3,555', '391,000', '26,700']
['상승', '하락', '하락', '상승', '상한가', '상한가', '상승', '상승', '상승', '상승']
["'005930'", "'035720'", "'102280'", "'034020'", "'130660'", "'043910'", "'011200'", "'006340'", "'035420'", "'015760'"]

In [138]:
# 5-3 (도전) 주요 해외 지수 가져오기