In [16]:
import pandas as pd
import numpy as np

In [4]:
train = pd.read_csv("./dacon_prarking_demand_dataset/train.csv")
test = pd.read_csv("./dacon_prarking_demand_dataset/test.csv")
sub = pd.read_csv("./dacon_prarking_demand_dataset/sample_submission.csv")
age = pd.read_csv("./dacon_prarking_demand_dataset/age_gender_info.csv")

In [6]:
train.shape, test.shape, sub.shape, age.shape

((2952, 15), (1022, 14), (150, 2), (16, 23))

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          1022 non-null   object
 1   총세대수                          1022 non-null   int64
 2   임대건물구분                        1022 non-null   object
 3   지역                            1022 non-null   object
 4   공급유형                          1022 non-null   object
 5   전용면적                          1022 non-null   float64
 6   전용면적별세대수                      1022 non-null   int64
 7   공가수                           1022 non-null   float64
 8   자격유형                          1020 non-null   object
 9   임대보증금                         842 non-null    object
 10  임대료                           842 non-null    object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  980 non-null    float64
 12  도보 10분거리 내 버스정류장 수            1022 non-null   float64
 13  단지내주차면수                       1022 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 111.9+ KB

In [5]:
train.isna().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)    211
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [6]:
test.isna().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              2
임대보증금                           180
임대료                             180
도보 10분거리 내 지하철역 수(환승노선 수 반영)     42
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
dtype: int64

In [7]:
sel = ['총세대수']
X_train = train[sel]
X_test = test[sel]
y_train = train['등록차량수']

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
model = LinearRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)
pred

array([524.31256846, 524.31256846, 524.31256846, ..., 424.88994317,
       424.88994317, 424.88994317])

In [10]:
test['단지코드'].unique()

array(['C1072', 'C1128', 'C1456', 'C1840', 'C1332', 'C1563', 'C1794',
       'C1640', 'C1377', 'C2072', 'C1472', 'C1006', 'C1083', 'C1311',
       'C2676', 'C2318', 'C1603', 'C2523', 'C2177', 'C2411', 'C2033',
       'C1604', 'C2535', 'C1040', 'C2417', 'C1812', 'C2253', 'C1294',
       'C1772', 'C2646', 'C1152', 'C2423', 'C1844', 'C1318', 'C1729',
       'C1602', 'C1239', 'C1721', 'C1902', 'C1855', 'C2600', 'C1071',
       'C2295', 'C1621', 'C1852', 'C2555', 'C1297', 'C2323', 'C2215',
       'C2112', 'C1830', 'C2602', 'C2608', 'C1215', 'C2369', 'C1158',
       'C1887', 'C1189', 'C1637', 'C1225', 'C2374', 'C2397', 'C1105',
       'C1782', 'C1629', 'C1708', 'C2144', 'C1617', 'C1149', 'C1323',
       'C1064', 'C1019', 'C2269', 'C1416', 'C1250', 'C1741', 'C1016',
       'C2675', 'C2436', 'C2039', 'C1253', 'C2028', 'C1166', 'C1135',
       'C1216', 'C1593', 'C1826', 'C1827', 'C1564', 'C1495', 'C2653',
       'C1392', 'C2128', 'C1282', 'C1521', 'C2076', 'C1060', 'C2473',
       'C2557', 'C1835', 'C2224', 'C2222', 'C2430', 'C2497', 'C1494',
       'C1457', 'C1525', 'C1712', 'C2267', 'C1623', 'C2131', 'C2691',
       'C1147', 'C1692', 'C1570', 'C1474', 'C1633', 'C2113', 'C2175',
       'C2303', 'C2547', 'C2292', 'C1496', 'C1289', 'C1849', 'C1003',
       'C2268', 'C2551', 'C2688', 'C1030', 'C1327', 'C2451', 'C1749',
       'C1349', 'C2043', 'C1229', 'C2363', 'C1414', 'C2174', 'C2091',
       'C2335', 'C1841', 'C2404', 'C1683', 'C1038', 'C2456', 'C1266',
       'C2152', 'C1267', 'C2189'], dtype=object)

In [13]:
test['등록차량수'] = pred

In [14]:
test.groupby('단지코드')['등록차량수'].mean()

단지코드
C1003     451.081925
C1006     725.028675
C1016     494.646140
C1019     408.586771
C1030     342.839551
            ...
C2653     557.720709
C2675     459.634409
C2676    1010.200560
C2688     362.884435
C2691     527.252485
Name: 등록차량수, Length: 150, dtype: float64

In [17]:
test['등록차량수'] = pred
test['코드별차량수평균'] = test.groupby('단지코드')['등록차량수'].transform(np.mean)
test_new = test.drop_duplicates(['단지코드'], keep='first').reset_index()
test_new

,index,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수,코드별차량수평균
0,0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0,524.312568,524.312568
1,8,C1128,1354,아파트,경기도,국민임대,39.79,368,9.0,H,22830000,189840,0.0,3.0,1216.0,684.671641,684.671641
2,17,C1456,619,아파트,부산광역시,국민임대,33.40,82,18.0,A,19706000,156200,0.0,16.0,547.0,488.231777,488.231777
3,26,C1840,593,아파트,전라북도,국민임대,39.57,253,7.0,A,14418000,108130,0.0,3.0,543.0,481.282884,481.282884
4,30,C1332,1297,아파트,경기도,국민임대,39.99,282,11.0,H,28598000,203050,0.0,2.0,1112.0,669.437530,669.437530
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,996,C2456,349,아파트,제주특별자치도,국민임대,26.44,24,17.0,H,6992000,117000,0.0,4.0,270.0,416.070194,416.070194
146,1000,C1266,596,아파트,충청북도,국민임대,26.94,164,35.0,H,8084000,149910,0.0,1.0,593.0,482.084679,482.084679
147,1005,C2152,120,아파트,강원도,영구임대,24.83,66,9.0,C,-,-,0.0,1.0,40.0,354.866481,354.866481
148,1007,C1267,675,아파트,경상남도,국민임대,24.87,28,38.0,H,6882000,104370,0.0,1.0,467.0,503.198624,503.198624
149,1018,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000,106400,0.0,2.0,300.0,424.889943,424.889943

In [18]:
sub_df = test_new[ ['단지코드', '코드별차량수평균']]
sub_df.columns = ['code', 'num']
sub_df

      code         num
0    C1072  524.312568
1    C1128  684.671641
2    C1456  488.231777
3    C1840  481.282884
4    C1332  669.437530
..     ...         ...
145  C2456  416.070194
146  C1266  482.084679
147  C2152  354.866481
148  C1267  503.198624
149  C2189  424.889943

[150 rows x 2 columns]

In [19]:
sub_df.to_csv('baseline_0712.csv', index=False)